<a href="https://colab.research.google.com/github/xxshenanigans/AIB_Project6/blob/main/project_recommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#데이터셋 불러오기

In [ ]:
df_ans = pd.read_csv('/content/drive/MyDrive/Project/data/training.csv')

In [ ]:
df_ans = df_ans.sort_values(by=['learnerID', 'testID', 'assessmentItemID']).reset_index().drop(columns='index')
df_ans

        learnerID learnerProfile  ... answerCode            Timestamp
0      A090000001        M;S01;9  ...          1  2020-03-04 01:56:09
1      A090000001        M;S01;9  ...          0  2020-03-04 01:56:12
2      A090000001        M;S01;9  ...          0  2020-03-04 01:56:14
3      A090000001        M;S01;9  ...          1  2020-03-04 01:56:16
4      A090000001        M;S01;9  ...          0  2020-03-04 01:56:18
...           ...            ...  ...        ...                  ...
86070  A090000774        F;S01;9  ...          0  2020-10-23 02:48:49
86071  A090000774        F;S01;9  ...          0  2020-10-23 02:48:50
86072  A090000774        F;S01;9  ...          1  2020-10-23 02:48:52
86073  A090000774        F;S01;9  ...          0  2020-10-23 02:48:54
86074  A090000774        F;S01;9  ...          1  2020-10-23 02:48:55

[86075 rows x 6 columns]

In [ ]:
df_test = pd.read_csv('/content/drive/MyDrive/Project/data/test.csv')

In [ ]:
df_test = df_test.sort_values(by=['testID','assessmentItemID']).reset_index().drop(columns=['index'])
df_test

         testID assessmentItemID  ...  knowledgeTag                   Timestamp
0    A090000001       A090001001  ...          4697  2021-01-08 06:08:25.336946
1    A090000001       A090001002  ...          4697  2021-01-08 06:08:25.336946
2    A090000001       A090001003  ...         10174  2021-01-08 06:08:25.336946
3    A090000001       A090001004  ...            78  2021-01-08 06:08:25.336946
4    A090000001       A090001005  ...            78  2021-01-08 06:08:25.336946
..          ...              ...  ...           ...                         ...
510  A090000074       A090074002  ...          4243  2021-01-08 06:08:25.336946
511  A090000074       A090074003  ...          4243  2021-01-08 06:08:25.336946
512  A090000074       A090074004  ...         10196  2021-01-08 06:08:25.336946
513  A090000074       A090074005  ...          2648  2021-01-08 06:08:25.336946
514  A090000074       A090074006  ...          2648  2021-01-08 06:08:25.336946

[515 rows x 7 columns]

In [ ]:
df_user = pd.read_csv('/content/drive/MyDrive/Project/data/learner.csv')
df_user = df_user.sort_values(by=['learnerID', 'testID']).reset_index().drop(columns=['index'])
df_user

        learnerID learnerProfile  ... realScore                   Timestamp
0      A090000001        M;S01;9  ...  0.379781  2021-01-08 06:08:25.336946
1      A090000002        M;S01;9  ...  0.896270  2021-01-08 06:08:25.336946
2      A090000002        M;S01;9  ...  0.826820  2021-01-08 06:08:25.336946
3      A090000002        M;S01;9  ...  0.662521  2021-01-08 06:08:25.336946
4      A090000002        M;S01;9  ...  0.851483  2021-01-08 06:08:25.336946
...           ...            ...  ...       ...                         ...
12286  A090000773        F;S01;9  ...  0.228380  2021-01-08 06:08:25.336946
12287  A090000773        F;S01;9  ...  0.599527  2021-01-08 06:08:25.336946
12288  A090000774        F;S01;9  ...  0.282065  2021-01-08 06:08:25.336946
12289  A090000774        F;S01;9  ...  0.204075  2021-01-08 06:08:25.336946
12290  A090000774        F;S01;9  ...  0.382694  2021-01-08 06:08:25.336946

[12291 rows x 6 columns]

In [ ]:
data_tree = pd.read_json('/content/drive/MyDrive/Project/data/수학 지식체계 데이터 세트_210611.json')
df_tree = pd.DataFrame(data_tree).T
df_tree

                                            fromConcept                                          toConcept
0     {'id': 3249, 'name': '거듭제곱', 'semester': '고등-수...  {'id': 1442, 'name': '거듭제곱', 'semester': '중등-중...
1     {'id': 3, 'name': '지수가 자연수일 때의 지수법칙', 'semeste...  {'id': 4659, 'name': '지수법칙 (2) - 지수의 곱', 'seme...
2     {'id': 3, 'name': '지수가 자연수일 때의 지수법칙', 'semeste...  {'id': 4660, 'name': '지수법칙 (3) - 지수의 차', 'seme...
3     {'id': 3, 'name': '지수가 자연수일 때의 지수법칙', 'semeste...  {'id': 4661, 'name': '지수법칙 (4) - 지수의 분배', 'sem...
4     {'id': 4, 'name': '거듭제곱근', 'semester': '고등-수1-...  {'id': 3249, 'name': '거듭제곱', 'semester': '고등-수...
...                                                 ...                                                ...
3441  {'id': 11269, 'name': '천만 단위까지의 수 알아보기', 'seme...  {'id': 7268, 'name': '다섯 자릿수', 'semester': '초등...
3442  {'id': 11270, 'name': '천억 단위까지의 수 알아보기', 'seme...  {'id': 11269, 'name': '천만 단위까지의 수 알아보기', 'seme...
3443  {'id': 11271, 'name': '천조 단위까지의 수 알아보기', 'seme...  {'id': 11270, 'name': '천억 단위까지의 수 알아보기', 'seme...
3444  {'id': 8481, 'name': '각도의 합과 차', 'semester': '...  {'id': 7310, 'name': '받아 올림이 세 번 있는 $(세자릿수)+(세...
3445  {'id': 8247, 'name': '삼각형을 두 가지 기준으로 분류하기(3)',...  {'id': 8832, 'name': '삼각형을 두 가지 기준으로 분류하기(2)',...

[3446 rows x 2 columns]

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Project/data/i-scream_train.csv', sep=";", names=['fields'])
data

                                                  fields
0                                             A020002462
1      1304,1304,1304,1304,1304,1445,1445,1445,1445,1...
2      1,1,1,0,0,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,0,...
3                                             A060002179
4      1338,1338,1338,1338,1338,1122,1121,1122,1121,1...
...                                                  ...
44629  1107,1107,1107,1107,1107,1467,1467,1467,1469,1...
44630        0,1,0,1,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,0,0
44631                                         A030001403
44632  1314,1314,1314,1314,1314,1315,1315,1315,1315,1...
44633  1,1,0,0,0,0,0,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1,1,...

[44634 rows x 1 columns]

In [ ]:
learnerIDs = []
skillIDs = []
answerCodes = []
for i in range(0, len(data), 3):
    learnerIDs.append(data['fields'].iloc[i])
    skillIDs.append(data['fields'].iloc[i+1].split(','))
    answerCodes.append(data['fields'].iloc[i+2].split(','))

In [ ]:
df_seq = pd.DataFrame({"learnerID":learnerIDs,
                       "skillID":skillIDs,
                       "answerCode":answerCodes})
df_seq = df_seq.sort_values(by=["learnerID"])[14356:].reset_index().drop(columns=['index'])
df_seq

      learnerID  ...                                         answerCode
0    A090000001  ...                           [1, 0, 0, 1, 0, 0, 0, 1]
1    A090000002  ...  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
2    A090000003  ...  [0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, ...
3    A090000004  ...  [0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...
4    A090000005  ...  [1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, ...
..          ...  ...                                                ...
517  A090000770  ...  [1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, ...
518  A090000771  ...                                 [1, 0, 1, 1, 1, 0]
519  A090000772  ...                                 [1, 1, 0, 0, 1, 1]
520  A090000773  ...  [1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, ...
521  A090000774  ...  [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...

[522 rows x 3 columns]

#추천 알고리즘

In [ ]:
"""
Input Body
learnerID
maxNum : 최대 추천 개수
problemList
- id : 학습태그 
- correct : 정답(1) 또는 오답(0)

Output Body
recommendList
prerequisiteList
"""

In [ ]:
learnerID = input()

A090000025

In [ ]:
seq = df_seq[df_seq['learnerID']==learnerID]
seq

     learnerID  ...                                         answerCode
20  A090000025  ...  [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, ...

[1 rows x 3 columns]

In [ ]:
learner = df_user[df_user['learnerID']==learnerID].reset_index().drop(columns=['index', 'Timestamp'])
print(learner.shape)
learner.head()

(50, 5)

    learnerID learnerProfile      testID     theta  realScore
0  A090000025        F;S01;9  A090000001  1.222495   0.896270
1  A090000025        F;S01;9  A090000002 -0.817804   0.244996
2  A090000025        F;S01;9  A090000003  1.036362   0.788194
3  A090000025        F;S01;9  A090000005 -0.737875   0.187517
4  A090000025        F;S01;9  A090000007 -0.228735   0.389160

In [ ]:
ids = []
for i in learner['testID']:
    ids.append(i)

In [ ]:
idxs = []
for i in range(len(df_test)):
    if df_test['testID'][i] in ids:
        idxs.append(i)

In [ ]:
test = df_test.iloc[idxs].reset_index().drop(columns=['index', 'Timestamp'])
print(test.shape)
test.head()

(347, 6)

       testID assessmentItemID  ...  guessLevel  knowledgeTag
0  A090000001       A090001001  ...    0.153660          4697
1  A090000001       A090001002  ...    0.130368          4697
2  A090000001       A090001003  ...    0.237505         10174
3  A090000001       A090001004  ...    0.228544            78
4  A090000001       A090001005  ...    0.000011            78

[5 rows x 6 columns]

In [ ]:
answer = df_ans[df_ans['learnerID']==learnerID].reset_index().drop(columns=['index', 'Timestamp'])
print(answer.shape)
answer.head()

(347, 5)

    learnerID learnerProfile      testID assessmentItemID  answerCode
0  A090000025        F;S01;9  A090000001       A090001001           1
1  A090000025        F;S01;9  A090000001       A090001002           1
2  A090000025        F;S01;9  A090000001       A090001003           1
3  A090000025        F;S01;9  A090000001       A090001004           1
4  A090000025        F;S01;9  A090000001       A090001005           1

In [ ]:
ans_test = pd.merge(answer, test)
ans_test

      learnerID learnerProfile  ...    guessLevel knowledgeTag
0    A090000025        F;S01;9  ...  1.536600e-01         4697
1    A090000025        F;S01;9  ...  1.303677e-01         4697
2    A090000025        F;S01;9  ...  2.375048e-01        10174
3    A090000025        F;S01;9  ...  2.285441e-01           78
4    A090000025        F;S01;9  ...  1.077960e-05           78
..          ...            ...  ...           ...          ...
342  A090000025        F;S01;9  ...  2.930000e-08         4243
343  A090000025        F;S01;9  ...  1.159106e-02         4243
344  A090000025        F;S01;9  ...  0.000000e+00        10196
345  A090000025        F;S01;9  ...  3.483607e-02         2648
346  A090000025        F;S01;9  ...  3.879670e-05         2648

[347 rows x 9 columns]

In [ ]:
len(seq['skillID'].iloc[0])

347

In [ ]:
avr = list(answer['answerCode'].groupby(answer['testID']).mean())
learner['avr'] = avr

In [ ]:
learner

     learnerID learnerProfile      testID     theta  realScore       avr
0   A090000025        F;S01;9  A090000001  1.222495   0.896270  1.000000
1   A090000025        F;S01;9  A090000002 -0.817804   0.244996  0.250000
2   A090000025        F;S01;9  A090000003  1.036362   0.788194  0.875000
3   A090000025        F;S01;9  A090000005 -0.737875   0.187517  0.166667
4   A090000025        F;S01;9  A090000007 -0.228735   0.389160  0.333333
5   A090000025        F;S01;9  A090000009  0.161151   0.423178  0.500000
6   A090000025        F;S01;9  A090000011  1.527275   0.937276  1.000000
7   A090000025        F;S01;9  A090000013  1.035301   0.837741  0.875000
8   A090000025        F;S01;9  A090000014  1.027084   0.731992  0.833333
9   A090000025        F;S01;9  A090000015  1.191273   0.930928  1.000000
10  A090000025        F;S01;9  A090000016  1.030662   0.723541  0.750000
11  A090000025        F;S01;9  A090000017  0.649385   0.480868  0.500000
12  A090000025        F;S01;9  A090000018  1.100481   0.961080  1.000000
13  A090000025        F;S01;9  A090000019  1.266992   0.911756  1.000000
14  A090000025        F;S01;9  A090000020  1.260462   0.939237  1.000000
15  A090000025        F;S01;9  A090000021  1.172151   0.740642  0.833333
16  A090000025        F;S01;9  A090000022  0.481756   0.605236  0.625000
17  A090000025        F;S01;9  A090000023  1.339696   0.871222  0.875000
18  A090000025        F;S01;9  A090000024  1.693606   0.948158  1.000000
19  A090000025        F;S01;9  A090000025  1.162236   0.904818  1.000000
20  A090000025        F;S01;9  A090000026  1.363205   0.968311  1.000000
21  A090000025        F;S01;9  A090000027  1.143515   0.940937  1.000000
22  A090000025        F;S01;9  A090000028  0.928506   0.718056  0.833333
23  A090000025        F;S01;9  A090000029  0.693064   0.718398  0.666667
24  A090000025        F;S01;9  A090000030  0.657373   0.836188  0.833333
25  A090000025        F;S01;9  A090000031  1.026487   0.782011  0.833333
26  A090000025        F;S01;9  A090000032 -0.108705   0.211610  0.333333
27  A090000025        F;S01;9  A090000033  0.181799   0.325435  0.500000
28  A090000025        F;S01;9  A090000034  0.668061   0.741440  0.875000
29  A090000025        F;S01;9  A090000035  1.263966   0.690555  0.625000
30  A090000025        F;S01;9  A090000036  1.195186   0.964707  1.000000
31  A090000025        F;S01;9  A090000037  0.640633   0.784891  0.875000
32  A090000025        F;S01;9  A090000038  1.094641   0.915644  1.000000
33  A090000025        F;S01;9  A090000039  1.104023   0.960656  1.000000
34  A090000025        F;S01;9  A090000040  1.499236   0.926968  1.000000
35  A090000025        F;S01;9  A090000041  1.171279   0.944353  1.000000
36  A090000025        F;S01;9  A090000042 -0.665023   0.139544  0.166667
37  A090000025        F;S01;9  A090000060  0.994383   0.915571  1.000000
38  A090000025        F;S01;9  A090000061  0.433345   0.456722  0.428571
39  A090000025        F;S01;9  A090000062  0.365734   0.624958  0.625000
40  A090000025        F;S01;9  A090000063  0.494632   0.987068  1.000000
41  A090000025        F;S01;9  A090000064  0.206050   0.378254  0.333333
42  A090000025        F;S01;9  A090000065  0.959544   0.972883  1.000000
43  A090000025        F;S01;9  A090000066 -0.710047   0.221400  0.250000
44  A090000025        F;S01;9  A090000069 -1.001394   0.186330  0.000000
45  A090000025        F;S01;9  A090000070 -0.049187   0.300570  0.250000
46  A090000025        F;S01;9  A090000071  1.712973   0.869775  1.000000
47  A090000025        F;S01;9  A090000072  0.045314   0.403748  0.666667
48  A090000025        F;S01;9  A090000073  0.417814   0.695422  0.833333
49  A090000025        F;S01;9  A090000074  0.435308   0.595258  0.500000

In [ ]:
"""
학습자의 이해도(theta)와 정답률(avr)이 모두 낮은 평가에 대하여 오답(0)인 문항 추출  
"""

In [ ]:
theta_avr = sum(learner['theta']) / len(learner)
thetas = list(learner['testID'][learner['theta'] < theta_avr])

In [ ]:
thetas, len(thetas)

(['A090000002',
  'A090000005',
  'A090000007',
  'A090000009',
  'A090000017',
  'A090000022',
  'A090000029',
  'A090000030',
  'A090000032',
  'A090000033',
  'A090000034',
  'A090000037',
  'A090000042',
  'A090000061',
  'A090000062',
  'A090000063',
  'A090000064',
  'A090000066',
  'A090000069',
  'A090000070',
  'A090000072',
  'A090000073',
  'A090000074'],
 23)

In [ ]:
avr_avr = sum(learner['avr']) / len(learner)
avrs = list(learner['testID'][learner['avr'] < avr_avr])

In [ ]:
len(avrs)

19

In [ ]:
tests = []
for i in avrs:
    if i in thetas:
        tests.append(i)

In [ ]:
tests, len(tests)

(['A090000002',
  'A090000005',
  'A090000007',
  'A090000009',
  'A090000017',
  'A090000022',
  'A090000029',
  'A090000032',
  'A090000033',
  'A090000042',
  'A090000061',
  'A090000062',
  'A090000064',
  'A090000066',
  'A090000069',
  'A090000070',
  'A090000072',
  'A090000074'],
 18)

In [ ]:
learner.sort_values(by=['theta'])[:10]

     learnerID learnerProfile      testID     theta  realScore       avr
44  A090000025        F;S01;9  A090000069 -1.001394   0.186330  0.000000
1   A090000025        F;S01;9  A090000002 -0.817804   0.244996  0.250000
3   A090000025        F;S01;9  A090000005 -0.737875   0.187517  0.166667
43  A090000025        F;S01;9  A090000066 -0.710047   0.221400  0.250000
36  A090000025        F;S01;9  A090000042 -0.665023   0.139544  0.166667
4   A090000025        F;S01;9  A090000007 -0.228735   0.389160  0.333333
26  A090000025        F;S01;9  A090000032 -0.108705   0.211610  0.333333
45  A090000025        F;S01;9  A090000070 -0.049187   0.300570  0.250000
47  A090000025        F;S01;9  A090000072  0.045314   0.403748  0.666667
5   A090000025        F;S01;9  A090000009  0.161151   0.423178  0.500000

In [ ]:
learner.sort_values(by=['avr'])[:10]

     learnerID learnerProfile      testID     theta  realScore       avr
44  A090000025        F;S01;9  A090000069 -1.001394   0.186330  0.000000
3   A090000025        F;S01;9  A090000005 -0.737875   0.187517  0.166667
36  A090000025        F;S01;9  A090000042 -0.665023   0.139544  0.166667
43  A090000025        F;S01;9  A090000066 -0.710047   0.221400  0.250000
1   A090000025        F;S01;9  A090000002 -0.817804   0.244996  0.250000
45  A090000025        F;S01;9  A090000070 -0.049187   0.300570  0.250000
26  A090000025        F;S01;9  A090000032 -0.108705   0.211610  0.333333
4   A090000025        F;S01;9  A090000007 -0.228735   0.389160  0.333333
41  A090000025        F;S01;9  A090000064  0.206050   0.378254  0.333333
38  A090000025        F;S01;9  A090000061  0.433345   0.456722  0.428571

In [ ]:
thetas = list(learner.sort_values(by=['theta'])[:10]['testID'])
avrs = list(learner.sort_values(by=['avr'])[:10]['testID'])
tests = [i for i in avrs if i in thetas]

In [ ]:
tests, len(tests)

(['A090000069',
  'A090000005',
  'A090000042',
  'A090000066',
  'A090000002',
  'A090000070',
  'A090000032',
  'A090000007'],
 8)

In [ ]:
idxs = [i for i in range(len(ans_test)) if ans_test['testID'][i] in tests]

In [ ]:
tag = ans_test.iloc[idxs]
tag = tag[ans_test['answerCode']==0]
tag

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

      learnerID learnerProfile  ...    guessLevel knowledgeTag
9    A090000025        F;S01;9  ...  9.000000e-10           78
10   A090000025        F;S01;9  ...  0.000000e+00           78
11   A090000025        F;S01;9  ...  2.300000e-09         4697
12   A090000025        F;S01;9  ...  2.116269e-01         4699
13   A090000025        F;S01;9  ...  2.352328e-01           78
15   A090000025        F;S01;9  ...  0.000000e+00         4697
24   A090000025        F;S01;9  ...  8.657004e-02         4723
25   A090000025        F;S01;9  ...  2.153106e-01         4723
26   A090000025        F;S01;9  ...  6.333163e-04         4699
27   A090000025        F;S01;9  ...  5.495616e-02         4709
29   A090000025        F;S01;9  ...  9.177410e-05         4723
32   A090000025        F;S01;9  ...  8.737970e-05         4725
33   A090000025        F;S01;9  ...  2.700698e-01         4697
34   A090000025        F;S01;9  ...  9.452662e-02         4725
35   A090000025        F;S01;9  ...  1.630212e-03         4209
185  A090000025        F;S01;9  ...  4.987300e-06        10607
186  A090000025        F;S01;9  ...  1.404854e-01        10181
187  A090000025        F;S01;9  ...  9.413340e-02        10607
188  A090000025        F;S01;9  ...  1.855870e-01        10607
252  A090000025        F;S01;9  ...  7.008000e-07        10624
253  A090000025        F;S01;9  ...  2.362064e-04        10624
254  A090000025        F;S01;9  ...  1.908058e-01        10624
255  A090000025        F;S01;9  ...  1.128616e-01        10766
256  A090000025        F;S01;9  ...  4.003918e-02        10625
299  A090000025        F;S01;9  ...  1.223075e-01         2612
301  A090000025        F;S01;9  ...  1.697327e-01         2612
302  A090000025        F;S01;9  ...  1.427555e-01         2612
303  A090000025        F;S01;9  ...  3.394083e-02         2612
304  A090000025        F;S01;9  ...  1.197051e-01         2612
306  A090000025        F;S01;9  ...  2.850138e-01         2612
307  A090000025        F;S01;9  ...  1.653540e-01         9924
308  A090000025        F;S01;9  ...  1.224401e-03         9924
309  A090000025        F;S01;9  ...  6.647945e-02         2644
310  A090000025        F;S01;9  ...  2.163626e-01         9924
311  A090000025        F;S01;9  ...  3.613358e-02         2644
312  A090000025        F;S01;9  ...  1.115661e-03         9924
313  A090000025        F;S01;9  ...  1.811970e-05         9925
315  A090000025        F;S01;9  ...  1.000000e-10         9929
317  A090000025        F;S01;9  ...  2.153601e-01         2647
318  A090000025        F;S01;9  ...  2.997830e-01         9929
319  A090000025        F;S01;9  ...  1.055444e-01         9929
320  A090000025        F;S01;9  ...  0.000000e+00         9926

[42 rows x 9 columns]

In [ ]:
tag_sub = pd.DataFrame(tag['knowledgeTag'].value_counts())
tag_sub

       knowledgeTag
2612              6
9924              4
4697              3
10607             3
9929              3
78                3
10624             3
4723              3
4699              2
2644              2
4725              2
4709              1
9925              1
2647              1
4209              1
9926              1
10181             1
10625             1
10766             1

In [ ]:
if tag_sub['knowledgeTag'].iloc[0] == 1:
    tags = list(tag_sub.index)
else:
    tags = list(tag_sub[tag_sub['knowledgeTag'] > 1].index)
print(tags)

[2612, 9924, 4697, 10607, 9929, 78, 10624, 4723, 4699, 2644, 4725]

##함수

In [ ]:
def inputTag():

    """
    입력된 학습자ID의 취약점을 진단하여 해당 단원의 학습태그를 출력하는 함수 
    """

    # 학습자ID 입력
    learnerID = input()

    # 학습자 데이터셋(df_user)에서 학습자ID 데이터 추출 >> 이해도(theta) 포함
    learner = df_user[df_user['learnerID']==learnerID].reset_index().drop(columns=['index', 'Timestamp'])

    # 평가ID 추출 
    ids = [i for i in learner['testID']]

    # 평가 데이터셋(df_test)에서 평가ID 데이터 추출 >> 난이도(difficultyLevel), 변별도(discriminationLevel), 학습태그(knowledgeTag) 포함 
    idxs = [i for i in range(len(df_test)) if df_test['testID'][i] in ids]
    test = df_test.iloc[idxs].reset_index().drop(columns=['index', 'Timestamp'])

    # 정오답표 데이터셋(df_ans)에서 학습자 ID 데이터 추출 >> 정오답(answerCode) 포함 / 정답률 계산 
    answer = df_ans[df_ans['learnerID']==learnerID].reset_index().drop(columns=['index', 'Timestamp'])

    # answer, test 결합 (평가ID, 문항ID 중복)
    ans_test = pd.merge(answer, test)

    # 각 평가에 따른 정답률을 구하여 학습자 데이터셋에 추가 
    avr = list(answer['answerCode'].groupby(answer['testID']).mean())
    learner['avr'] = avr

    # 학습자의 이해도(theta)와 정답률(avr)이 모두 낮은 평가에 대하여 오답(0)인 문항 추출  
    thetas = list(learner.sort_values(by=['theta'])[:10]['testID'])
    avrs = list(learner.sort_values(by=['avr'])[:10]['testID'])

    tests = [i for i in avrs if i in thetas]
    idxs = [i for i in range(len(ans_test)) if ans_test['testID'][i] in tests]
    
    tag = ans_test.iloc[idxs]
    tag = tag[tag['answerCode']==0]
    
    # 학습태그 출력 
    tag_sub = pd.DataFrame(kt['knowledgeTag'].value_counts())

    if tag_sub['knowledgeTag'].iloc[0] == 1:
        tags = list(tag_sub.index)
    else:
        tags = list(tag_sub[tag_sub['knowledgeTag'] > 1].index)

    return tags

In [ ]:
inputTag()

A090000025

[2612, 9924, 4697, 10607, 9929, 78, 10624, 4723, 4699, 2644, 4725]

In [ ]:
def outputTag():

    """
    inputTag()의 학습태그를 입력받아 취약한 순서대로 단원 정보를 출력하는 함수
    """
    
    tags = inputTag()
#    fromc = []
#    toc = []

#    for i in range(len(df_tree)):
#        if df_tree['fromConcept'][i]['id'] in tags:
#            fromc.append(df_tree['fromConcept'][i])
#            toc.append(df_tree['toConcept'][i])
    
    idx = []
    id = []
    name = []
    semester = []
    achievement = []
    chapter = []
    description = []
    for j in tags:
        for i in range(len(df_tree)):
            if j == df_tree['fromConcept'][i]['id']:
                idx.append('취약단원')
                idx.append('선수단원')
                id.append(df_tree['fromConcept'][i]['id'])
                id.append(df_tree['toConcept'][i]['id'])
                name.append(df_tree['fromConcept'][i]['name'])
                name.append(df_tree['toConcept'][i]['name'])
                semester.append(df_tree['fromConcept'][i]['semester'])
                semester.append(df_tree['toConcept'][i]['semester'])
                achievement.append(df_tree['fromConcept'][i]['achievement']['name'])
                achievement.append(df_tree['toConcept'][i]['achievement']['name'])
                chapter.append(df_tree['fromConcept'][i]['chapter']['name'])
                chapter.append(df_tree['toConcept'][i]['chapter']['name'])
                description.append(df_tree['fromConcept'][i]['description'])
                description.append(df_tree['toConcept'][i]['description'])

    res = pd.DataFrame({'idx':idx,
                        'id':id,
                        'name':name,
                        'semester':semester,
                        'achievement':achievement,
                        'chapter':chapter,
                        'description':description})

    return res

In [ ]:
res = outputTag()
res

A09000025

     idx  ...                                        description
0   취약단원  ...  (1) 원에 내접하는 사각형에서 한 쌍의 대각의 크기의 합은 $180^{\circ}...
1   선수단원  ...  (1) 원에서 한 호에 대한 원주각의 크기는 모두 같다. \n→ $\angle AP...
2   취약단원  ...  평균 : 전체 변량의 총합을 변량의 개수로 나눈 값\n→ $(평균)=\frac{(변...
3   선수단원  ...       대푯값 : 자료 전체의 중심적인 경향이나 특징을 대표적인 하나의 수로 나타낸 값
4   취약단원  ...  (1) 제곱근은 기호 $\sqrt{\placeholder{}}$를 사용하여 나타내는...
5   선수단원  ...  a, b 가 정수이고 $be0$ 일때, 분수 $\frac{a}{b}$ 의 꼴로 나타...
6   취약단원  ...  이차방정식 $ax^2+bx+c=0$의 근은 $x=\frac{-b\pm\sqrt[]{...
7   선수단원  ...  다음과 같이 이차방정식의 근을 구하는 공식을 이차방정식의 근의 공식이라 한다. \n...
8   취약단원  ...  어떤 수 $x$를 제곱하여 $a$가 될 때, 즉\n$x^2=a$\n일 때, $x$를...
9   선수단원  ...  a, b 가 정수이고 $be0$ 일때, 분수 $\frac{a}{b}$ 의 꼴로 나타...
10  취약단원  ...  어떤 수 $x$를 제곱하여 $a$가 될 때, 즉\n$x^2=a$\n일 때, $x$를...
11  선수단원  ...  (1) 양수의 거듭제곱 : 항상 양수이다.\n(2) 음수의 거듭제곱 : 지수가$\b...
12  취약단원  ...  그래프 위의 세 점 $(x_1, y_1)$, $(x_2, y_2)$, $(x_3, ...
13  선수단원  ...  (1) 문제의 뜻을 파악하고 변수 x, y를 정한다.\n(2) x와 y사이의 관계식...
14  취약단원  ...  $a>0$, $b>0$일 때, 다음이 성립한다.\n(1) $a<b$이면 $\sqrt...
15  선수단원  ...  (1) a>b (또는 b<a) \na는 b보다 크다.\na는 b 초과이다.\n(2)...
16  취약단원  ...  $a>0$, $b>0$일 때, 다음이 성립한다.\n(1) $a<b$이면 $\sqrt...
17  선수단원  ...  (1) 부등식의 양변에 같은 수를 더하거나 양변에서 같은 수를 빼어도 부등호의 방향...
18  취약단원  ...  (1) 양수 $a$의 제곱근 $\sqrt{a}$와 $-\sqrt{a}$는 제곱하면 ...
19  선수단원  ...  (1) 제곱근은 기호 $\sqrt{\placeholder{}}$를 사용하여 나타내는...
20  취약단원  ...  자료의 변량을 작은 값부터 크기순으로 나열할 때, 중앙에 위치하는 값을 그 자료의 ...
21  선수단원  ...       대푯값 : 자료 전체의 중심적인 경향이나 특징을 대표적인 하나의 수로 나타낸 값

[22 rows x 7 columns]

In [ ]:
# description의 LaTeX 출력 

from IPython.display import display, Markdown, Latex

for i in res['description']:
    i = i.replace('\\n', '\n')
    display(Markdown(i))
    print('')

(1) 원에 내접하는 사각형에서 한 쌍의 대각의 크기의 합은 $180^{\circ}$이다.
→ $\angle A+\angle C=180^{\circ}$, $\angle B+\angle D=180^{\circ}$

(2) 원에 내접하는 사각형에서 한 외각의 크기는 그와 이웃한 내각의 대각의 크기와 같다.
→ $\angle DCE=\angle A$

(1) 원에서 한 호에 대한 원주각의 크기는 모두 같다.
→ $\angle AP_1B=\angle AP_2B=\angle AP_3B$

(2) 반원에 대한 원주각의 크기는$90^{\circ}$이다.
→ $\overline{AB}$가 원의 지름이면 $\angle APB=90^{\circ}$

평균 : 전체 변량의 총합을 변량의 개수로 나눈 값
→ $(평균)=\frac{(변량의 총합)}{(변량의 개수)}$

대푯값 : 자료 전체의 중심적인 경향이나 특징을 대표적인 하나의 수로 나타낸 값

(1) 제곱근은 기호 $\sqrt{\placeholder{}}$를 사용하여 나타내는데 이것을 근호라 하고, '제곱근' 또는 '루트(root)'라 읽는다.

(2) 양수 a의 제곱근 중에서 양수인 것을 양의 제곱근, 음수인 것을 음의 제곱근이라 하고 다음과 같이 나타낸다.
양의 제곱근 : $\sqrt[]{a}$
음의 제곱근 : $-\sqrt[]{a}$

a, b 가 정수이고 $be0$ 일때, 분수 $\frac{a}{b}$ 의 꼴로 나타낼 수 있는 수

이차방정식 $ax^2+bx+c=0$의 근은 $x=\frac{-b\pm\sqrt[]{b^2-4ac}}{2a}$ (단, $b^2-4ac\ge0$)이므로 서로 다른 근의 개수는 $b^2-4ac$의 부호에 의하여 다음과 같이 결정된다.
(1) $b^2-4ac>0$
: 두 근
(2) $b^2-4ac=0$
: 한 근(중근)
(3) $b^2-4ac<0$
: 근이 없다.

다음과 같이 이차방정식의 근을 구하는 공식을 이차방정식의 근의 공식이라 한다.
: 이차방정식 $ax^2+bx+c=0$의 근은 $x=\frac{-b\pm\sqrt[]{b^2-4ac}}{2a}$ (단, $b^2-4ac\ge0$)

어떤 수 $x$를 제곱하여 $a$가 될 때, 즉
$x^2=a$
일 때, $x$를 $a$의 제곱근이라 한다.
(1) 양수의 제곱근은 양수와 음수 $2$개가 있고, 그 절댓값은 서로 같다.
(2) 음수의 제곱근은 없다.
(3) $0$의 제곱근은 $0$이다.

a, b 가 정수이고 $be0$ 일때, 분수 $\frac{a}{b}$ 의 꼴로 나타낼 수 있는 수

어떤 수 $x$를 제곱하여 $a$가 될 때, 즉
$x^2=a$
일 때, $x$를 $a$의 제곱근이라 한다.
(1) 양수의 제곱근은 양수와 음수 $2$개가 있고, 그 절댓값은 서로 같다.
(2) 음수의 제곱근은 없다.
(3) $0$의 제곱근은 $0$이다.

(1) 양수의 거듭제곱 : 항상 양수이다.
(2) 음수의 거듭제곱 : 지수가$\begin{cases}{짝수이면\to+} \\ {홀수이면\to-}\end{cases}$

그래프 위의 세 점 $(x_1, y_1)$, $(x_2, y_2)$, $(x_3, y_3)$을 알 때,
(1) 이차함수의 식을 $y=ax^2+bx+c$로 놓는다.
(2) (1)의 식에 세 점 $(x_1, y_1)$, $(x_2, y_2)$, $(x_3, y_3)$의 좌표를 각각 대입하여 $a$, $b$, $c$의 값을 구한다.

(1) 문제의 뜻을 파악하고 변수 x, y를 정한다.
(2) x와 y사이의 관계식을 세운다.
(3) 일차함수의 식이나 그래프를 이용하여 구하려는 값을 구한다.
(4) 구한 값이 문제의 뜻에 맞는지 확인한다.

$a>0$, $b>0$일 때, 다음이 성립한다.
(1) $a<b$이면 $\sqrt{a}<\sqrt{b}$
(2) $\sqrt{a}<\sqrt{b}$이면 $a<b$

(1) a>b (또는 b<a)
a는 b보다 크다.
a는 b 초과이다.
(2) a<b (또는 b>a)
a는 b보다 작다.
a는 b 미만이다.
(3) a$\geq$b (또는 b$\leq$a)
a는 b보다 크거나 같다. a는 b 이상이다.
a는 b보다 작지 않다.
(4) a$\leq$b (또는 b$\geq$a)
a는 b보다 작거나 같다. a는 b이하이다.
a는 b보다 크지 않다.

$a>0$, $b>0$일 때, 다음이 성립한다.
(1) $a<b$이면 $\sqrt{a}<\sqrt{b}$
(2) $\sqrt{a}<\sqrt{b}$이면 $a<b$

(1) 부등식의 양변에 같은 수를 더하거나 양변에서 같은 수를 빼어도 부등호의 방향은 바뀌지 않는다.
=> a<b이면 a+c<b+c , a-c<b-c
(2) 부등식의 양변에 같은 양수를 곱하거나 양변을 같은 양수로 나누어도 부등호의 방향은 바뀌지 않는다.
=> a<b, c>0이면 ac<bc, $\frac{a}{c}<\frac{b}{c}$ (부등호의 방향 그대로)
(3) 부등식의 양변에 같은 음수를 곱하거나 양변을 같은 음수로 나누면 부등호의 방향이 바뀐다.
=> a<b, c<0이면 ac>bc, $\frac{a}{c}>\frac{b}{c}$ (부등호의 방향 반대로)

(1) 양수 $a$의 제곱근 $\sqrt{a}$와 $-\sqrt{a}$는 제곱하면 $a$가 된다.
즉, $a>0$일 때, $(\sqrt{a})^2=a$,
$(-\sqrt{a})^2=a$
(2) 근호 안의 수가 어떤 수의 제곱이면 근호를 사용하지 않고 나타낼 수 있다.
즉, $a>0$일 때, $\sqrt{a^2}=a$, $\sqrt{(-a)^2}=a$

(1) 제곱근은 기호 $\sqrt{\placeholder{}}$를 사용하여 나타내는데 이것을 근호라 하고, '제곱근' 또는 '루트(root)'라 읽는다.

(2) 양수 a의 제곱근 중에서 양수인 것을 양의 제곱근, 음수인 것을 음의 제곱근이라 하고 다음과 같이 나타낸다.
양의 제곱근 : $\sqrt[]{a}$
음의 제곱근 : $-\sqrt[]{a}$

자료의 변량을 작은 값부터 크기순으로 나열할 때, 중앙에 위치하는 값을 그 자료의 중앙값이라 한다.
(1) 변량의 개수가 홀수이면 중앙에 위치하는 값이 중앙값이다.
(2) 변량의 개수가 짝수이면 중앙에 위치하는 두 값의 평균이 중앙값이다.

대푯값 : 자료 전체의 중심적인 경향이나 특징을 대표적인 하나의 수로 나타낸 값